.page-container {
  padding: 40px 150px;
}

.task-container {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 6px;
  max-height: calc(100vh - 195px);
  overflow-y: auto;
  @include scrollBar();
}