.task-list {
  box-shadow: $box-shadow-3;
  padding: 20px;
  border-radius: 6px;
  max-height: calc(100vh - 195px);
  overflow-y: auto;
  @include scrollBar();
  &__empty-wrapper {
    @include flex(column, center, center);
  }

  &__empty-icon {
    &.MuiSvgIcon-root {
      width: 220px;
      height: 220px;
    }
  }

  &__empty-header {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 400;
    margin-top: $margin-4;
    color: $neutral-color-600;
  }

  &__empty-description {
    margin-top: $margin-2;
    font-size: 18px;
    color: $neutral-color-700;
    font-family: $secondary-font;
    font-weight: 400;
  }

  &__item {
    margin-top: $margin-4;
    &:first-child {
      margin-top: 0px;
    }
  }
}
