@import 'variables';
@import 'colors';
@import 'mixins';
@import 'spacing';

.formField {
  margin-top: $margin-5;
}

.signUpBtn {
  margin-top: $margin-5;

  &:global(.MuiButton-root) {
    background-color: $primary-color-400;
    border-radius: 8px;
    border: none;
    color: #fff;
    text-transform: capitalize;
    align-self: center;
    font-size: 16px;
    &:hover {
      border: none;
    }
  }
}
