@import 'variables';
@import 'colors';
@import 'mixins';
@import 'spacing';

.passwordTextList:global(.MuiList-root) {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  margin-top: $margin-2;
}

.passwordTextListItem {
  padding: 0px;
  flex-basis: 220px;
  margin-top: $margin-3;
}

.passwordTextWrapper {
  @include flex(row, center, center);
}

.passwordTextIcon {
  margin-right: $margin-2;
  color: $neutral-color-400;
  font-size: 23px;
  transition: color 250ms;
  &.valid {
    color: $success-color-500;
  }
}

.passwordText {
  @include text();
  font-size: 14px;
}
