/* Primary color Palette */

$primary-color-900: hsl(32, 100%, 36%);
$primary-color-800: hsl(32, 98%, 40%);
$primary-color-700: hsl(32, 94%, 45%);
$primary-color-600: hsl(32, 94%, 50%);
$primary-color-500: hsl(32, 94%, 55%);
$primary-color-400: hsl(32, 94%, 60%);
$primary-color-300: hsl(32, 94%, 65%);
$primary-color-200: hsl(35, 94%, 75%);
$primary-color-100: hsl(40deg 100% 92%);
$primary-color-50: hsl(40deg 100% 97%);

$accent-color-900: hsl(240, 97%, 25%);
$accent-color-800: hsl(240, 97%, 45%);
$accent-color-700: hsl(240, 97%, 50%);
$accent-color-600: hsl(240, 97%, 60%);
$accent-color-500: hsl(240, 100%, 67%);
$accent-color-400: hsl(240, 97%, 75%);
$accent-color-300: hsl(240, 97%, 86%);
$accent-color-200: hsl(240, 97%, 90%);
$accent-color-100: hsl(240, 97%, 97%);

/* Neutral color palette*/

$neutral-color-900: hsl(235, 30%, 2%);
$neutral-color-800: hsl(235, 20%, 16%);
$neutral-color-700: hsl(234, 12%, 39%);
$neutral-color-600: hsl(233, 10%, 49%);
$neutral-color-500: hsl(233, 7%, 55%);
$neutral-color-400: hsl(230, 7%, 70%);
$neutral-color-300: hsl(228, 7%, 80%);
$neutral-color-200: hsl(225, 7%, 89%);
$neutral-color-100: hsl(220, 7%, 96%);
$neutral-color-50: hsl(218, 7%, 97%);

/* Grey color pallete */

$grey-color-900: hsl(0, 0%, 95%);
$grey-color-800: hsl(0, 0%, 90%);
$grey-color-700: hsl(0, 0%, 85%);
$grey-color-600: hsl(0, 0%, 80%);
$grey-color-500: hsl(0, 0%, 70%);
$grey-color-400: hsl(0, 0%, 75%);
$grey-color-300: hsl(0, 0%, 80%);
$grey-color-300: hsl(0, 0%, 85%);
$grey-color-200: hsl(0, 0%, 90%);
$grey-color-100: hsl(0, 0%, 93%);
$grey-color-50: hsl(0, 0%, 96%);

/* Supporting color palette*/

$success-color-900: hsl(170, 97%, 15%);
$success-color-800: hsl(168, 80%, 23%);
$success-color-700: hsl(166, 72%, 28%);
$success-color-600: hsl(164, 71%, 34%);
$success-color-500: hsl(162, 63%, 41%);
$success-color-400: hsl(160, 51%, 49%);
$success-color-300: hsl(158, 58%, 62%);
$success-color-200: hsl(156, 73%, 94%);
$success-color-100: hsl(154, 75%, 97%);

$danger-color-900: hsl(348, 94%, 20%);
$danger-color-800: hsl(352, 90%, 35%);
$danger-color-700: hsl(352, 90%, 35%);
$danger-color-600: hsl(354, 85%, 44%);
$danger-color-500: hsl(356, 75%, 53%);
$danger-color-400: hsl(360, 83%, 62%);
$danger-color-300: hsl(360, 91%, 69%);
$danger-color-200: hsl(360, 91%, 69%);
$danger-color-100: hsl(360, 100%, 97%);
$danger-color-50: hsl(360, 100%, 99%);
