@mixin flex($direction, $xAlignment: stretch, $yAlignment: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $xAlignment;
  align-items: $yAlignment;
}

@mixin media-breakpoint($start-breakpoint, $end-breakpoint) {
  $start-breakpoint-value: map-get($breakpoints, $start-breakpoint);
  $end-breakpoint-value: map-get($breakpoints, $end-breakpoint);
  @media (min-width: $start-breakpoint-value) and (max-width: $end-breakpoint-value) {
    @content;
  }
}

@mixin scrollBar() {
  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    border: 1px solid #c5c5c5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 94%);
    &:hover {
      background-color: hsl(0, 0%, 90%);
    }
  }
}

@mixin text {
  font-family: $primary-font;
  color: $neutral-color-700;
  font-size: 16px;
}
