/* Margin spacing scale*/

$margin-1: 4px;
$margin-2: 8px;
$margin-3: 12px;
$margin-4: 16px;
$margin-5: 24px;
$margin-6: 32px;
$margin-7: 48px;
$margin-8: 64px;
$margin-9: 96px;
$margin-10: 128px;
$margin-11: 192px;
$margin-12: 256px;
$margin-13: 384px;
$margin-14: 512px;
