@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;700&display=swap');

/* font variables */

$primary-font: 'Open Sans', sans-serif; // links + application UI
$secondary-font: 'Roboto', sans-serif; // For Heading, sub headings and buttons.

$box-shadow-1: 0px 7px 10px rgb(0 0 0 / 4%);
$box-shadow-2: 0px 7px 14px rgb(0 0 0 / 10%);
$box-shadow-3: 0px 4px 10px rgb(0 0 0 / 12%);

$breakpoints: (
  zero: 0px,
  xxs: 360px,
  xs: 575px,
  sm: 768px,
  md: 991px,
  lg: 1199px,
  xl: 1400px,
  xxl: 1600px,
);
